
TenCubbedChess/obj/Debug/net6.0-windows/TenCubbedChess.GeneratedMSBuildEditorConfig.editorconfig
TenCubbedChess/obj/Debug/net6.0-windows/App.g.i.cs
.vs/TenCubbedChess/FileContentIndex/cc2315fd-c5bb-4ac8-bb68-4aa8bd7c6cbd.vsidx
.vs/TenCubbedChess/FileContentIndex/91bbc599-ea78-441e-acdb-1de6aa876acc.vsidx
.vs/TenCubbedChess/FileContentIndex/39ea2aee-3370-4d21-a247-8fd2ec73b6c0.vsidx
.vs/TenCubbedChess/FileContentIndex/1ee90ab0-18d8-47b4-963f-e64b687e105b.vsidx
TenCubbedChess/obj/Debug/net6.0-windows/App.g.i.cs
TenCubbedChess/obj/Debug/net6.0-windows/MainWindow.g.i.cs
TenCubbedChess/obj/Debug/net6.0-windows/TenCubbedChess_MarkupCompile.i.lref
*.cache
TenCubbedChess/obj/TenCubbedChess.csproj.nuget.dgspec.json
TenCubbedChess/obj/Debug/net6.0-windows/TenCubbedChess.designer.runtimeconfig.json
TenCubbedChess/obj/Debug/net6.0-windows/TenCubbedChess.GeneratedMSBuildEditorConfig.editorconfig
TenCubbedChess/obj/Debug/net6.0-windows/TenCubbedChess_MarkupCompile.i.cache
TenCubbedChess/obj/Debug/net6.0-windows/TenCubbedChess_MarkupCompile.i.lref
TenCubbedChess/obj/project.assets.json
TenCubbedChess/obj/project.nuget.cache
TenCubbedChess/obj/TenCubbedChess.csproj.nuget.dgspec.json
TenCubbedChess/obj/TenCubbedChess.csproj.nuget.g.props
